body {
    background-size: cover;
    background-image: url("http://i.imgur.com/Pye8Bz9.jpg");
}


#title {
    height: 80px;
    width: 200px;
    background-color: black;
    color: gold;
    font-size: 60px;
    text-align: center;
    margin: auto;
}

#player-input {
    text-align: center;
    margin: 20px;
    
}

canvas {
    background-color: green;
    width: 80%;
    height: 80%;
}

#loseDisplay {
    height: 50vh;
    width: 50vw;
    font-size: 100px;
    text-align: center;
    color: gold;
    background-color: black;
}

#winDisplay {
    height: 50vh;
    width: 50vw;
    font-size: 100px;
    text-align: center;
    color: gold;
    background-color: black;
}




